{% extends "base.html" %}

{% block content %}

<form method="post">
  <span>{{edit_error}}</span><br/>

  <label for="subject">Subject: </label>
  <input type="text" id="subject" name="subject" value="{{post_subject}}" required/><br/>

  <label for="category">Category (optional): </label>
  <input type="text" id="category" name="category" value="{{post_category}}"/><br/>

  <label for="content">Content: </label>
  <textarea name="content" id="content" required>{{post_content}}</textarea><br/>

  <input type="submit" value="post"/>

  {% if post %}
  <a href="{{post.permalink()}}">Cancel</a>
  {% else %}
  <a href="/">Cancel</a>
  {% endif %}
</form>

{% endblock %}