{% extends "base.html" %}

{% block content %}

<span>{{edit_error}}</span><br/>
<form method="post">
  <label for="subject">Subject: </label>
  {% if post %}
  <input type="text" id="subject" name="subject" value="{{post.subject}}" required/><br/>
  {% else %}
  <input type="text" id="subject" name="subject" value="" required/><br/>
  {% endif %}

  <label for="content">Content: </label>
  <textarea name="content" id="content" required>
  	{% if post %}
  	  {{post.content}}
  	{% endif %}
  </textarea><br/>

  <input type="submit" value="post"/>

  {% if post %}
  <a href="{{post.permalink()}}">Cancel</a>
  {% else %}
  <a href="/">Cancel</a>
  {% endif %}
</form>

{% endblock %}