<article class="post">
  <header class="post-heading">
    <h2 class="post-title full-post">{{ p.subject }}</a></h2>

    <p class="post-details">
      Published {{ p.created.strftime("%b %d, %Y") }} 
      by <a href="{{p.creator.profile_url()}}">{{ p.creator.name }}</a>
      in <a href="{{p.category_url()}}">{{ p.category }}</a>
    </p>
  </header>

  <section class="post-content full-post">
    {{ p._render_text | safe }}
  </section>

  <section class="edit-bar">
  	{% if user_name and user_name == p.creator.name %}
  	  <p><a href="{{p.permalink()}}/edit">edit</a> | <a href="{{p.permalink()}}/delete">delete</a></p>
  	{% endif %}
  </section>
</article>