<article class="post">
  <header class="post-heading">
    <h3 class="post-title">
      <a href="{{ p.permalink() }}">{{ p.subject }}</a>
    </h3>

    <p class="post-details">
      Published {{ p.created.strftime("%b %d, %Y") }} by {{ p.creator.name }} 
    </p>
  </header>

  <section class="post-content">
    {{ p._excerpt | safe }}
  </section>

  <section class="edit-bar">
    {% if user_name and user_name == p.creator.name %}
      <p><a href="{{p.permalink()}}/edit">edit</a> | <a href="{{p.permalink()}}/delete">delete</a></p>
    {% endif %}
  </section>
</article>